# Descriptive Statistics with Pandas

Import pandas (Data Analysis Library) and matplotlib (Plotting Library)

Renaming as 'pd' and 'plt' is not strictly neccesary but can help reduce typing.

In [325]:
import pandas as pd
import matplotlib.pyplot as plt

## Create sample data

If required we can create sample data driectly using pandas. Below is a list of column names:

In [326]:
columnNames = ['Student Name',
              'January Calories',
              'February Calories',
              'March Calories',
              'Total Calories'
              ]

Below is a list of lists that represents the individual rows in a table:

In [327]:
calories_per_month = [['Bob',56000, 61000, 55000, 172000],
                ['Sue', 49000, 51000, 48000, 148000],
                ['Barack', 50000, 51000, 52000, 153000],
                ['Boris', 70000, 69000, 75000, 214000],
                ['Nancy', 41000, 47000, 43000, 131000]]

Now we create a pandas DataFrame using the column names and rows we created above:

In [328]:
data_frame = pd.DataFrame(data=calories_per_month, columns=columnNames)

Let's take a look:

In [329]:
data_frame

,Student Name,January Calories,February Calories,March Calories,Total Calories
0,Bob,56000,61000,55000,172000
1,Sue,49000,51000,48000,148000
2,Barack,50000,51000,52000,153000
3,Boris,70000,69000,75000,214000
4,Nancy,41000,47000,43000,131000

In [333]:
data_frame.head(3)

,Student Name,January Calories,February Calories,March Calories,Total Calories
0,Bob,56000,61000,55000,172000
1,Sue,49000,51000,48000,148000
2,Barack,50000,51000,52000,153000

In [331]:
df.tail(2)

Gender
F    13
M    11
dtype: int64

In [332]:
df.info()

AttributeError: 'Series' object has no attribute 'info'

In [ ]:
df.describe()

In [ ]:
df['March Calories'].median()

We can plot the DataFrame also:

In [ ]:
data_frame.plot(kind='bar')

Not bad! Would be nice if we used the Student Name instead of the index though.

In [ ]:
df = pd.DataFrame(data_frame).set_index('Student Name')

Now when we view the DataFrame you'll notice we have used the Student Name as the index:

In [ ]:
df

Now when we plot we have the Student Name on the x-xis instead of the index which makes this graph easier to read.

In [ ]:
df.plot(kind='bar')

In [ ]:
df[['January Calories']]

In [ ]:
df[['January Calories', 'Total Calories']]

In [ ]:
df_jan = df['January Calories']

In [ ]:
df_jan.plot(kind='bar')

# Your Turn!

Use pandas <strong>'read_csv'</strong> method to read in a .csv file and store in the variable named <strong>'data_file'</strong>

In [ ]:
data_frame = pd.read_csv('DATA/Influence of alcohol consumption on anxiety levels.csv',  sep = ',')

<strong>TASK:</strong> Use pandas <strong>head</strong> method to show the <strong>top 10</strong> rows of the dataframe.

<strong>TASK:</strong> Use pandas <strong>info</strong> method to get info on <strong>datatypes</strong>.

<strong>TASK:</strong> Use pandas <strong>tail</strong> method to show the <strong>last 10</strong> rows of the dataframe.

<strong>TASK:</strong> Get the <strong>number of rows</strong> in the data frame.

<strong>TASK:</strong> Get some basic descriptive statistics using the <strong>describe</strong> method.

<strong>TASK:</strong> Get the <strong>median</strong> of the Average Number of Alcoholic units consumed per week.

<strong>TASK:</strong> Plot a <strong>line</strong> graph:

# Histogram Example

In [ ]:
data_frame['Average Number of Alcoholic units consumed per week'].plot(kind='hist')