# Python Basics 1

The following examples demonstrate some functionality of the Python programming language.

<strong>Printing to the notebook:</strong>

In [42]:
print('Hello World!')

Hello World!

In [43]:
print(2 + 2)

4

<strong>Python Lists:</strong>

In [44]:
cheese_on_toast = ['Cheese','Butter','Bread']

In [45]:
cheese_on_toast[0]

'Cheese'

In [46]:
cheese_on_toast[1]

'Butter'

In [47]:
cheese_on_toast[2]

'Bread'

In [48]:
cheese_on_toast[3]

IndexError: list index out of range

In [49]:
len(cheese_on_toast)

3

In [50]:
for ingredient in cheese_on_toast:
    print(ingredient)

Cheese
Butter
Bread

In [51]:
print(cheese_on_toast)

['Cheese', 'Butter', 'Bread']

In [52]:
cheese_on_toast.append('Marmite')

In [53]:
print(cheese_on_toast)

['Cheese', 'Butter', 'Bread', 'Marmite']

In [54]:
cheese_toastie = cheese_on_toast + (['Bread','Butter'])

In [55]:
print(cheese_toastie)

['Cheese', 'Butter', 'Bread', 'Marmite', 'Bread', 'Butter']

In [56]:
cheese_toastie.insert(0, 'Raw onions')

In [57]:
print(cheese_toastie)

['Raw onions', 'Cheese', 'Butter', 'Bread', 'Marmite', 'Bread', 'Butter']

In [59]:
del cheese_toastie[0]

In [60]:
print(cheese_toastie)

['Cheese', 'Butter', 'Bread', 'Marmite', 'Bread', 'Butter']

In [61]:
cheese_toastie.remove('Marmite')

In [62]:
print(cheese_toastie)

['Cheese', 'Butter', 'Bread', 'Bread', 'Butter']

In [63]:
cheese_toastie.sort()

In [64]:
print(cheese_toastie)

['Bread', 'Bread', 'Butter', 'Butter', 'Cheese']

<strong>Indexing:</strong>

In [65]:
numbers = [1,2,3,4,5,6,7,8,9,10]

In [66]:
numbers[0]

1

In [67]:
numbers[1]

2

In [68]:
numbers[10]

IndexError: list index out of range

In [69]:
numbers[-1]

10

<strong>Slicing:</strong>

In [71]:
numbers[0:-1]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [72]:
numbers[0:5]

[1, 2, 3, 4, 5]

In [73]:
numbers[0:]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [75]:
numbers[:]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

<strong>For loops:</strong>

In [77]:
for value in numbers:
    print("The value at index 0 is: ",value)

The value at index 0 is:  1
The value at index 0 is:  2
The value at index 0 is:  3
The value at index 0 is:  4
The value at index 0 is:  5
The value at index 0 is:  6
The value at index 0 is:  7
The value at index 0 is:  8
The value at index 0 is:  9
The value at index 0 is:  10